.App {
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-box {
  background-color: lightgray;
  margin: auto;
  height: 500px;
  width: 800px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  background-color: lightgray;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.recent-box {
  background-color: lightgray;
  height: 75vh;
  width: 55vw;
  border-radius: 20px;
}

.top-box {
  background-color: lightgray;
  height: 75vh;
  width: 35vw;
  border-radius: 20px;
  overflow-y: scroll;
}

.wine-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 30px;
}

.wine-card {
  background-color: lightgray;
  height: 500px;
  border-radius: 1rem;
  padding: 1.5rem;
  gap: 1rem;
  cursor: pointer;
}

#wine-image {
  height: 200px;
  border-radius: 10px;
}

.ratings-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  margin: 30px;
}

.ratings-card {
  background-color: lightgray;
  height: 500px;
  border-radius: 1rem;
  padding: 1.5rem;
  gap: 1rem;
  cursor: pointer;
}

/* .main {
  width: 100vw;
  height: 100vh;
  position: relative;
} */


